* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
:root {
  --background: #1B2029;
  --background-input: #161923;
  --border-input: #040B18;
  --title: #8880FE;
  --button: #433bb6; 
  --cinza: #BABABA;

}
body {
  background: var(--background);
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 500;
  
  display: flex;

  min-height: 100vh;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  width: 50vw; /*metade da page*/
}

main h1 {
  color: var(--title);
  font-size: 3rem;
  margin-bottom: 2rem;
}

.socialMedia {
  display: flex;
  align-content: center;
}

.socialMedia a {
  text-decoration: none;
}

.socialMedia img {
  width: 36px;
  margin-left: 3rem;
}

.socialMedia a:first-child img {
  margin-left: 0;
}

.division {
  margin-top: 1rem;
}

.division span {
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--cinza);
  position: relative; /*relative pposi para utilizar o before/after é obrigatorio o position absolute que será em relação ao span*/
}
/*pseudo-elementos*/
.division span::after , .division span::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 100px;
  background: var(--cinza);
  bottom: 50%;
  right: 50px;
}

.division span::after {
  left: 50px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label {
  display: flex;
  flex-direction: column;
  color: var(--cinza);
}

form span {
  font-size: 1.1rem;
  margin-top: 1rem;
}

form input {
  background: var(--background-input);
  border: 1px solid #040B18;
  border-radius: 8px;
  
  margin-top: 1rem;
  font-size: 1rem;

  width: 300px;
  height: 40px;

  padding: 0 0.5rem; /*espaçamento dentro da caixa do input*/

  color: rgba(166, 166, 166);
  outline: none;
  
}

.botao {
  display: flex;
  justify-content: space-between; 
  align-content: center;
}
a + a {
  margin-left: 2rem;
}

.button {
  background: var(--button);
  
  color: white;
  border-radius: 32px;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  margin-top: 1.7rem;
  
  width: 6rem;
  height: 2rem;

  transition: 0.3s;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonSignUp {
  background: var(--button);
  color: white;
  border-radius: 32px;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  margin-top: 1.7rem;
  
  width: 6rem;
  height: 2rem;

  transition: 0.3s;
  border: 2px solid #fff;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background: #6c63ff;
}
.buttonSignUp:hover {
  background: #6c63ff;
}

.image {
  display: flex;
  align-items: flex-end;
  padding: 1rem;
  width: 50vw;
}

.image img {
  width: 90%;
}

.image .circle {
  height: 100%;
  width: 100%;
  background: linear-gradient(45deg, #e8cbc0, #636fa4);
  position: absolute;
  top: 0;
  left: 0;

  clip-path: circle(40% at right 80%);
  z-index: -1;
}

/* Responsividade */
/* laptops and desktops */
@media only screen and (min-width: 901px) {
  .image img {
    width: 100%;
    padding: 1rem;
  }

  .image .circle {
    clip-path: circle(35% at right 80%);
  }
}

@media only screen and (min-width: 1700px) {
  .image img{
    /* margin-left: 5rem; */
    width:90%;
  }

  .image .circle {
    clip-path: circle(40% at right 90%);
  }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media only screen and (max-width: 900px) {
  .image {
    display: none; /* para retirar a img */
    /* visibility: hidden; */ /* para reforçar */
  }

  main {
    width: 100vw;
  }
}

/* smartphones, Android phones, landscape iPhone */
@media only screen and (max-width: 480px) {
  main h1 {
    font-size: 2rem;
  }

  .division span {
    font-size: 0.8rem;
  }

  form label, form input {
    font-size: 1rem;
  }
}

/* Dark mode */
@media only screen and (prefers-color-scheme: dark) {
  body {
    background-color: #010101;
    color: #f0ece2;
  }

  main h1 {
    color: #f0ece2;
  }
  
  form label {
    color: #f0ece2;
  }
  
  form input {
    border: 1px solid #BABABA;
    background: #010101;
    color: #f0ece2;
  }

  .division span {
    color: #f0ece2;
  } 
  .division span::after , .division span::before {
    background: #f0ece2;
  }
}